@media (max-width: 2560px) {
    .lhuser{
        display: none;
    }
}
@media (max-width: 1024px) {
    .lhuser{
        display: none;
    }

    .bottom, .first, .second, .third{
        padding: 0 30px;
    }
    .img-tm, .second .secondinside img{
        height: 400px;
    }
    .main-pr .form{
        padding: 0 30px;
        width: 60%;
    }
    .main-pr .fixed-image{
        width: 40%;
    }
}

@media (max-width: 768px) {
    .inupbtn, .img-tm, .second .secondinside img, .fixed-image{
        display: none !important;
    }
    .lhuser{
        display: block;
    }
    .bottom{
        padding: 0 20px;
    }
    .bottom img{
        width: 100px;
    }
    .firstinside div, .second .secondinside div{
        width: 100%;
    }
    .second .secondinside div{
        text-align: center;
        margin: 0;
    }
    #searchResults {
        width: 85%;
    }
    .ind-h1-tm, .ind-p-tm{
        text-align: center;
    }
    .main-pr .form{
        width: 100%;
        padding: 0 30px;
        margin-top: 10px;
    }
    .btns-group, .btn-group{
        padding: 20px 0 !important;
    }

    .main-pp{
        display: block !important;
        height: auto !important;
    }
    .penappleft, .penappright{
        width: 100% !important;
        padding: 30px !important;
    }
}
@media (max-width: 426px) {
    .oh, .och{
        display: block;
    }
    .progressbar{
        max-width: 100% !important;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {
    .row.row-cols-lg-4 > * {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}
    